<!DOCTYPE html>
<html>
    <head>
        <title>USPS</title>
    </head>
    <body>
        <h1>Results</h1>
        <p>Your price for <%= weight %> (Oz) is $<%= price.toFixed(2) %></p>
    </body>
</html>